.countdown{
    text-align: center;
    margin-top: 1rem;
    padding: 2rem;
}
.countdown p{
    text-transform: capitalize;
    font-size: 2.5rem;
    font-weight: 500;
}
.title{
    font-weight: normal;
    font-size: 2rem !important;
}